.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
/src/views/accident/components/EditPay.vue
/src/views/accident/components/Editaccident.vue
/src/views/accident/components/accidentAdd.vue
/src/assets/images/call1.png
/src/assets/images/carlicence.png
/src/assets/images/clock.png
/src/assets/images/dabinfo.png
/src/assets/images/driverlic1.png
/src/assets/images/entrance.png
/src/assets/images/expire.png
/src/assets/images/inspection.png
/src/assets/images/inspection1.png
/src/assets/images/insurance.png
/src/assets/images/insurance1.png
/src/assets/images/laba.png
/src/assets/images/logo.png
/src/assets/images/opercar.png
/src/assets/images/opercontract.png
/src/assets/images/operdrive.png
/src/assets/images/operdriveact.png
/src/assets/images/opertitle.png
/src/assets/images/overdue.png
/src/assets/images/overdue1.png
/src/assets/images/regulations.png
/src/assets/images/regulations1.png
/src/assets/images/risk.png
/src/assets/images/risk1.png
/src/assets/images/withdrawal.png
/src/assets/images/withdrawal1.png
/src/views/Inthecar/components/contractAdd.vue
/src/views/Inthecar/components/contractDetail.vue
/src/views/Inthecar/index.vue
/src/views/accident/components/Detailaccident.vue
/src/views/accident/components/EditPay.vue
/src/views/accident/components/Editaccident.vue
/src/views/accident/components/accidentAdd.vue
/src/views/accident/components/accidentDetail.vue
/src/views/accident/components/accidentEidt.vue
/src/views/accident/components/addAccident.vue
/src/views/accident/components/addPay.vue
/src/views/accident/index.vue
/src/views/actualpayment/components/receivableAdd.vue
/src/views/actualpayment/components/receivableDetail.vue
/src/views/actualpayment/components/receivableEidt.vue
/src/views/actualpayment/components/receivableMoney.vue
/src/views/actualpayment/index.vue
/src/views/auditTeam/components/driverDetail.vue
/src/views/auditTeam/index.vue
/src/views/client/components/clientAdd.vue
/src/views/client/components/customerDetail.vue
/src/views/client/index.vue
/src/views/company/components/avatar-cutter/avatar-cutter.vue
/src/views/company/components/avatar-cutter/imgs/empty--pure.png
/src/views/company/components/avatar-cutter/imgs/empty.png
/src/views/company/components/avatar-cutter/imgs/icon-cancel.png
/src/views/company/components/avatar-cutter/imgs/picture-avatar-03.png
/src/views/company/components/companyAdd.vue
/src/views/company/components/companyAdd1.vue
/src/views/company/components/companyDetail.vue
/src/views/company/components/companyEdit.vue
/src/views/company/components/companyEdit1.vue
/src/views/company/index.vue
/src/views/company/tender.vue
/src/views/company/tenderOrder.vue
/src/views/companyAuth/components/avatar-cutter/avatar-cutter.vue
/src/views/companyAuth/components/avatar-cutter/imgs/empty--pure.png
/src/views/companyAuth/components/avatar-cutter/imgs/empty.png
/src/views/companyAuth/components/avatar-cutter/imgs/icon-cancel.png
/src/views/companyAuth/components/avatar-cutter/imgs/picture-avatar-03.png
/src/views/companyAuth/index.vue
/src/views/companyRole/components/Editrole.vue
/src/views/companyRole/components/addrole.vue
/src/views/companyRole/index.vue
/src/views/contract/components/contractChange.vue
/src/views/contract/components/contractDetail.vue
/src/views/contract/components/contractEdit.vue
/src/views/contract/components/extension.vue
/src/views/contract/index.vue
/src/views/contractjie/components/contractjieDetail.vue
/src/views/contractjie/components/settlementDetail.vue
/src/views/contractjie/index.vue
/src/views/copewith/components/receiptsAdd.vue
/src/views/copewith/components/receiptsDetail.vue
/src/views/copewith/index.vue
/src/views/coupon/components/couponRegulationAdd.vue
/src/views/coupon/components/couponRegulationEdit.vue
/src/views/coupon/index.vue
/src/views/cutoffpower/index.vue
/src/views/dashboard/components/contract.vue
/src/views/dashboard/components/drivermanage.vue
/src/views/dashboard/components/vehicle.vue
/src/views/dashboard/index.vue
/src/views/dashboard/message.vue
/src/views/dashboard/oldindex.vue
/src/views/dashboard/quick.vue
/src/views/dashboard/receivables.vue
/src/views/device/components/deviceDetail.vue
/src/views/device/components/deviceEidt.vue
/src/views/device/index.vue
/src/views/driver/components/driverCheck.vue
/src/views/driver/components/driverDetail.vue
/src/views/driver/components/driverEdit.vue
/src/views/driver/driverCheckList.vue
/src/views/driver/index.vue
/src/views/driverjie/components/driverjieDetail.vue
/src/views/driverjie/components/driverjieEdit.vue
/src/views/driverjie/index.vue
/src/views/drivermanage/components/driverEdit.vue
/src/views/drivermanage/index.vue
/src/views/fence/index.vue
/src/views/finance/accountRecord.vue
/src/views/finance/refundRecord.vue
/src/views/financeReport/index.vue
/src/views/fleet/components/fleetAdd.vue
/src/views/fleet/index.vue
/src/views/identification/components/identificationAdd.vue
/src/views/identification/components/identificationDetail.vue
/src/views/identification/components/identificationEdit.vue
/src/views/identification/index.vue
/src/views/insurance/components/dataimport.vue
/src/views/insurance/components/insuranceAdd.vue
/src/views/insurance/components/insuranceDetail.vue
/src/views/insurance/components/insuranceEidt.vue
/src/views/insurance/index.vue
/src/views/maintenance/components/maintenaceAdd.vue
/src/views/maintenance/components/maintenaceDetail.vue
/src/views/maintenance/index.vue
/src/views/mappattern/index.vue
/src/views/menu/index.vue
/src/views/message/components/messagedetail.vue
/src/views/message/index.vue
/src/views/msg/components/msgAdd.vue
/src/views/msg/index.vue
/src/views/newContract/index.vue
/src/views/newContract/newindex.vue
/src/views/order/components/orderDetail.vue
/src/views/order/index.vue
/src/views/paymentRecord/index.vue
/src/views/receipts/components/receiptsAdd.vue
/src/views/receipts/components/receiptsDetail.vue
/src/views/receipts/index.vue
/src/views/receivable/components/receivableAdd.vue
/src/views/receivable/components/receivableDetail.vue
/src/views/receivable/components/receivableEidt.vue
/src/views/receivable/components/receivableMoney.vue
/src/views/receivable/index.vue
/src/views/reconciliationRecord/index.vue
/src/views/refund/components/refund.vue
/src/views/refund/components/refundDetail.vue
/src/views/refund/components/refundEidt.vue
/src/views/refund/index.vue
/src/views/regulations/components/regulationsDetail.vue
/src/views/regulations/index.vue
/src/views/release/components/orderDetail.vue
/src/views/release/index.vue
/src/views/report/index.vue
/src/views/role/components/Editrole.vue
/src/views/role/components/addrole.vue
/src/views/role/index.vue
/src/views/route/components/selectLocation.vue
/src/views/route/index.vue
/src/views/route/routeAdd.vue
/src/views/setup/index.vue
/src/views/sold/index.vue
/src/views/summaryBill/index.vue
/src/views/systemlog/index.vue
/src/views/systemuser/add.vue
/src/views/systemuser/edit.vue
/src/views/systemuser/index.vue
/src/views/temp/index.vue
/src/views/tender/components/driverFilter.vue
/src/views/tender/components/tenderAdd.vue
/src/views/tender/components/tenderDetail.vue
/src/views/tender/index.vue
/src/views/tenderOrder/components/orderAdd.vue
/src/views/tenderOrder/components/orderUpdateDriver.vue
/src/views/tenderOrder/index.vue
/src/views/transferCar/components/contractDetail.vue
/src/views/transferCar/index.vue
/src/views/tree/index.vue
/src/views/user/components/userAdd.vue
/src/views/user/components/userEdit.vue
/src/views/user/index.vue
/src/views/validatethecar/components/contractAdd.vue
/src/views/validatethecar/components/contractDetail.vue
/src/views/validatethecar/index.vue
/src/views/vehicle/components/accident.vue
/src/views/vehicle/components/contract.vue
/src/views/vehicle/components/dataimport.vue
/src/views/vehicle/components/driverDetail.vue
/src/views/vehicle/components/driverEidt.vue
/src/views/vehicle/components/insurance.vue
/src/views/vehicle/components/licence.vue
/src/views/vehicle/components/licenses.vue
/src/views/vehicle/components/maintenance.vue
/src/views/vehicle/components/receivable.vue
/src/views/vehicle/components/safing.vue
/src/views/vehicle/components/violation.vue
/src/views/vehicle/index.vue
/src/views/vehicle/olderindex.vue
/src/views/wallet/index.vue
/src/views/withdrawBill/index.vue
/src/assets/images/*.png
/src/views/Inthecar/components/*.vue
/src/views/Inthecar/*.vue
/src/views/accident/components/*.vue
/src/views/accident/*.vue
/src/views/actualpayment/components/*.vue
/src/views/actualpayment/*.vue
/src/views/auditTeam/components/*.vue
/src/views/auditTeam/*.vue
/src/views/client/components/*.vue
/src/views/client/*.vue
/src/views/company/components/avatar-cutter/*.vue
/src/views/company/components/avatar-cutter/imgs/*.png
/src/views/company/components/*.vue
/src/views/company/*.vue
/src/views/companyAuth/components/avatar-cutter/*.vue
/src/views/companyAuth/components/avatar-cutter/imgs/*.png
/src/views/companyAuth/*.vue
/src/views/companyRole/components/*.vue
/src/views/companyRole/*.vue
/src/views/contract/components/*.vue
/src/views/contract/*.vue
/src/views/contractjie/components/*.vue
/src/views/contractjie/*.vue
/src/views/copewith/components/*.vue
/src/views/copewith/*.vue
/src/views/coupon/components/*.vue
/src/views/coupon/*.vue
/src/views/cutoffpower/*.vue
/src/views/dashboard/components/*.vue
/src/views/dashboard/*.vue
/src/views/device/components/*.vue
/src/views/device/*.vue
/src/views/driver/components/*.vue
/src/views/driver/*.vue
/src/views/driverjie/components/*.vue
/src/views/driverjie/*.vue
/src/views/drivermanage/components/*.vue
/src/views/drivermanage/*.vue
/src/views/fence/*.vue
/src/views/finance/*.vue
/src/views/financeReport/*.vue
/src/views/fleet/components/*.vue
/src/views/fleet/*.vue
/src/views/identification/components/*.vue
/src/views/identification/*.vue
/src/views/insurance/components/*.vue
/src/views/insurance/*.vue
/src/views/maintenance/components/*.vue
/src/views/maintenance/*.vue
/src/views/mappattern/*.vue
/src/views/menu/*.vue
/src/views/message/components/*.vue
/src/views/message/*.vue
/src/views/msg/components/*.vue
/src/views/msg/*.vue
/src/views/newContract/*.vue
/src/views/order/components/*.vue
/src/views/order/*.vue
/src/views/paymentRecord/*.vue
/src/views/receipts/components/*.vue
/src/views/receipts/*.vue
/src/views/receivable/components/*.vue
/src/views/receivable/*.vue
/src/views/reconciliationRecord/*.vue
/src/views/refund/components/*.vue
/src/views/refund/*.vue
/src/views/regulations/components/*.vue
/src/views/regulations/*.vue
/src/views/release/components/*.vue
/src/views/release/*.vue
/src/views/report/*.vue
/src/views/role/components/*.vue
/src/views/role/*.vue
/src/views/route/components/*.vue
/src/views/route/*.vue
/src/views/setup/*.vue
/src/views/sold/*.vue
/src/views/summaryBill/*.vue
/src/views/systemlog/*.vue
/src/views/systemuser/*.vue
/src/views/temp/*.vue
/src/views/tender/components/*.vue
/src/views/tender/*.vue
/src/views/tenderOrder/components/*.vue
/src/views/tenderOrder/*.vue
/src/views/transferCar/components/*.vue
/src/views/transferCar/*.vue
/src/views/tree/*.vue
/src/views/user/components/*.vue
/src/views/user/*.vue
/src/views/validatethecar/components/*.vue
/src/views/validatethecar/*.vue
/src/views/vehicle/components/*.vue
/src/views/vehicle/*.vue
/src/views/wallet/*.vue
/src/views/withdrawBill/*.vue
/src/assets/images/call1.png
/src/assets/images/carlicence.png
